 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>

<div class="user-details">
  <h1> Education </h1>
  <div class="user">
    <div class="tech">
      <h2>Learner</h2>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>University of Toronto, Rotman School of Management</p>
      <p>Bachelor of Commerce</p>
      <p>Sep 2015 - Jun 2019</p>
      <p>Dean's List Scholar, Graduated with high distinction</p>
    </div>
    <div class="tech">
      <h2>Thinker</h2>
      <i class="devicon-javascript-plain colored"></i>
      <p>University College London</p>
      <p>Exchange, Economics</p>
    </div>
    <div class="tech">
      <h2>Adventurer</h2>
      <i class="devicon-git-plain"></i>
      <p>University of Oxford</p>
      <p>Summer Abroad, Finance</p>
      
    </div>
</div>
