 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>

<div class="user-details">
  <h1> Education </h1>
  <div class="user">
    <div class="uoft">
      <p>University of Toronto</p>
      <p>Bachelor of Commerce</p>
      <p>Sep 2015 - Jun 2019</p>
    </div>
    <div class="ucl">
      <p>University College London</p>
      <p>Exchange, Economics</p>
      <p>Jan 2018 - Jun 2018</p>
    </div>
    <div class="oxf">
      <p>University of Oxford</p>
      <p>Summer Abroad, Finance</p>
      <p>Aug 2017</p>    
    </div>
</div>
