 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>

<div class="user-details">
  <h1> Education </h1>
  <div class="user">
    <div class="tech">
      <h2>Learner</h2>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>I got my Bachelor of Commerce from the University of Toronto. Currently I'm pursuing a Master of Science degree in Business Analytics at Columbia University.</p>
    </div>
    <div class="tech">
      <h2>Thinker</h2>
      <i class="devicon-javascript-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
    </div>
    <div class="tech">
      <h2>Adventurer</h2>
      <i class="devicon-git-plain"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
    </div>
</div>
