<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/7.contact by age" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Bank Telemarketing Analysis </h3>
    <ul>
      <li> Machine learning with Python </li>
    </ul>
    <p>This project analyzes the direct phone call marketing campaigns of a Portguese bank. The main objective is to predict customers' responses to future campaigns.</p>
    <a class="project-link" href="https://yfsui.github.io/Project---Bank_Telemarketing_Analysis/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-details">
  <h1> Gallery </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/lake2.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/lake.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
      <h4> Canada, Jasper National Park, June 2019 </h4>
  </div>
</div>