<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://raw.githubusercontent.com/yfsui/yfsui.github.io/master/assets/img/7.contact%20by%20age.jpg" />
  </div>
  <div class="contents">
    <h3> Bank Telemarketing Analysis </h3>
    <ul>
      <li> Machine learning with Python </li>
    </ul>
    <p>This project analyzes the direct phone call marketing campaigns of a Portuguese bank. The main objective is to predict customers' responses to future campaigns through classification and regression models.</p>
    <a class="project-link" href="https://yfsui.github.io/Project---Bank_Telemarketing_Analysis/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-details">
  <h1> Little Projects for Fun </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cookie_cats" src="{{ "/assets/img/cookie_cats" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Mobile Games: A/B Testing </h3>
    <ul>
      <li> Based on a mini project from Datacamp </li>
    </ul>
    <p>This project analyzes an A/B test on a mobile puzzle game, called Cookie Cats. The main objective is to find which version of game design has a higher player retention rate. </p>
    <a class="project-link" href="https://www.kaggle.com/yufengsui/datacamp-mini-project-mobile-games-a-b-testing">Check it out</a>
  </div>
</div>